* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-family: "Open Sans", sans-serif;
}

/* navbar */
#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {

    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
}

#navbar ul li a:hover {
    background: #336ea2;
    border: 4px;
}

/* home section*/
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name {
    text-align: center;
}

#home .name h2 {
    margin-bottom: 0.75rem;
}

#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/*Project*/
#project {
    color: white;
    padding: 1rem;
}

#project .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#project .items .item:hover {
    color: red;
    opacity: 0.5;
}

/*Blog*/

#bloglar {
    color: #333;
    padding: 1rem;
}

.bloglar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.bloglar .blog {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}

.bloglar .blog .blog-image {
    margin-right: 0.5rem;
    position: relative;
}

.bloglar .blog .blog-image img {
    border-radius: 5px;
}

.bloglar .blog .blog-info .title {
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.bloglar .blog .blog-info .description {
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.bloglar .blog .blog-info .instructor {
   font-size: 0.8rem;
   margin-bottom: 0.25rem;
   opacity: 0.6;
   color: #336ea2;
}
#contact{
    color: white;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
