#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

/*Project*/
#project .items {
    flex-direction: column;
}

#project .items .item {
    width: 100%;
}

.bloglar .blog {
    flex-direction: column;
}